'.source.codev':
   'editor':
      'commentStart': '! '
      'increaseIndentPattern': '^\\s*\\b((?i)if|els|(els if)|for|whi|unt)\\b'
      'decreaseIndentPattern': '^\\s*\\b((?i)(end\\s+\\w*)|els|(els\\s+if))\\b'
